/*

Add styles or override variables from the theme here.
#8504BC
*/
$primary: #8504BC;
$secondary: #3ba269;

.td-page-meta__view { display: none !important; }
.td-page-meta__edit { display: none !important; }
.td-page-meta__child  { display: none !important; }
.td-page-meta__issue { display: none !important; }
.td-page-meta__project-issue { display: none !important; }
.td-page-meta__lastmod { display: none !important; }
